<h1><%= I18n.t("tasks.heading.index") %></h1>
<div>
  <%= link_to I18n.t("tasks.link.create_a_task"), new_task_path %>
</div>

<br>

<table id = "task_index_table">
  <thead>
    <th><%= I18n.t("tasks.table.title") %></th>
    <th><%= I18n.t("tasks.table.content") %></th>
    <th><%= I18n.t("tasks.table.start_time") %></th>
    <th><%= I18n.t("tasks.table.end_time") %></th>
  </thead>

  <tbody>
    <% @tasks.each do |task| %>
      <tr>
        <td><%= task.title %></td>
        <td><%= task.content %></td>
        <td><%= task.start_time %></td>
        <td><%= task.end_time %></td>
        <td><%= link_to I18n.t("tasks.link.view_a_task"), task %></td>
        <td><%= link_to I18n.t("tasks.link.edit_a_task"), edit_task_path(task) %></td>
        <td><%= link_to I18n.t("tasks.link.delete_a_task"), task, data: { confirm: I18n.t("are_you_sure") }, method: 'delete' %></td>
      </tr>
    <% end %>
  </tbody>
</table>
