<h1>Task</h1>
<div>
  <%= link_to 'new task', new_task_path %>
</div>

<br>

<table id = "task_index_table">
  <thead>
    <th>Title</th>
    <th>Content</th>
    <th>Start_time</th>
    <th>End_time</th>
  </thead>

  <tbody>
    <% @tasks.each do |task| %>
      <tr>
        <td><%= task.title %></td>
        <td><%= task.content %></td>
        <td><%= task.start_time %></td>
        <td><%= task.end_time %></td>
        <td><%= link_to 'show', task_path(task) %></td>
        <td><%= link_to 'edit', edit_task_path(task) %></td>
        <td><%= link_to 'delete', task_path(task), method: 'delete' %></td>
      </tr>
    <% end %>
  </tbody>
</table>