<h1>Task</h1>
<div>
  <%= link_to 'new task', new_task_path %>
</div>

<br>

<table id = "task_index_table">
  <thead>
    <th>任務名稱</th>
    <th>內容</th>
    <th>開始時間</th>
    <th>結束時間</th>
  </thead>

  <tbody>
    <% @tasks.each do |task| %>
      <tr>
        <td><%= task.title %></td>
        <td><%= task.content %></td>
        <td><%= task.start_time %></td>
        <td><%= task.end_time %></td>
        <td><%= link_to '詳細內容', task_path(task) %></td>
        <td><%= link_to '更新', edit_task_path(task) %></td>
        <td><%= link_to '刪除', task_path(task), method: 'delete' %></td>
      </tr>
    <% end %>
  </tbody>
</table>