<% if task.errors.any? %>
  <% task.errors.full_messages.each do |message| %>
    <li><%= message %></li>
  <% end %>
<% end %>

<%= form_for(task, html: { class: 'task_form' }) do |form| %>
  <div>
    <%= form.label :title, t("tasks.table.title") %><br>
    <%= form.text_field :title, placeholder: t("tasks.form.placeholder.title") %>
  </div>

  <div>
    <%= form.label :content, t("tasks.table.content") %><br>
    <%= form.text_area :content, placeholder: t("tasks.form.placeholder.content") %>
  </div>
  
  <div>
    <%= form.label :priority, t("tasks.table.priority") %>
    <%= form.select(:priority, options_for_select([[t("tasks.priority.low"), "low"],
                                                    [t("tasks.priority.medium"), "medium"], 
                                                    [t("tasks.priority.high"), "high"]])) %>
  </div>

  <div>
    <%= form.label :status, t("tasks.table.status") %>
    <%= form.select(:status, options_for_select([[t("tasks.status.pending"), "pending"],
                                                    [t("tasks.status.processing"), "processing"], 
                                                    [t("tasks.status.completed"), "completed"]])) %>
  </div>

  <div>
    <%= form.label :start_time, t("tasks.table.start_time") %><br>
    <%= form.datetime_field :start_time %>
  </div>

  <div>
    <%= form.label :end_time, t("tasks.table.end_time") %><br>
    <%= form.datetime_field :end_time %>
  </div>

  <%= form.submit %>
<% end %>
